body {
    display: flex;
    background-image: linear-gradient(teal, );
    place-items: center;
    font-family: sans-serif;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
}

.logo {
    width: 550px;
    height: auto;
}

.title {
    text-align: center;
}

p {
    color: gray;
}