body {
    margin: 0;
}

.header {
    display: flex;
    border-radius: 20px;
    padding: 50px 30px;
    color: rgb(17, 17, 17);
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    margin: auto 0;
    width: 70px;
    height: auto;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 250px;
    width: 100%;
    z-index: 1;
    top: 150%;
    right: 0;
    font-size: large;
}